:root {
    --branco: #ffff;
    --bege: #F9F5E9;
    --marrom: #4D352D;
    --rosa: #E291A3;
    --laranja: #FAB958;
    --azul: #65B6DB;
    --verde: #78C19E;
    --font-size-base: 1rem;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bege);
    color: var(--marrom);
    font-size: var(--font-size-base);
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.social-image {
    width: 60px; 
    height: 2cm;
}

.container {
    padding: 20px;
    text-align: left;
    flex: 1;
    font-size: 20px;
}

textarea {
    width: 100%;
    max-width: 600px; 
    padding: 10px;
    margin: 10px auto; 
    border: 1px solid var(--marrom);
    border-radius: 4px;
    font-size: 1rem;
    display: block; 
}



button {
    background-color: var(--verde);
    color: var(--branco);
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--azul);
}


.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1px;
    width: 100%;
    gap: 2rem;
}

.social-text {
    text-align: left;
    font-weight: bold;
}

.social-title {
    font-size: 35px;
    font-weight: bold;
    color: var(--marrom);
    margin: 10px 0 5px;
}

.social-subtitle {
    font-size: 18px;
    margin-top: 0rem;
    color: var(--marrom);
    font-weight: normal;
}

