:root {
    --branco: #ffff;
    --bege: #F9F5E9;
    --marrom: #4D352D;
    --rosa: #E291A3;
    --laranja: #FAB958;
    --azul: #65B6DB;
    --verde: #78C19E;
    --font-size-base: 1rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f4ee;
  }
  .chat-container {
    max-width: flex;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-bottom: 70px;
  }
  .header {
    text-align: center;
    padding: 10px;
    background-color: #ffeedd;
    border-bottom: 1px solid #ddd;
  }
  .header img {
    width: 30px;
  }
  .header h1 {
    font-size: 18px;
    margin: 5px 0;
  }
  .chat-content {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  .chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .chat-message img {
    width: 35px;
    margin-right: 10px;
  }
  .message-bubble {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6f7f6;
  }
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  .chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  .chat-input button {
    padding: 8px 12px;
    border: none;
    background-color: #00aaff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
