:root{
    --branco: #ffff;
    --preto: #2a2a2a;
    --marrom: #4d352d;
    --bege: #f9f5ea;
    --laranja:#ffba56;
    --azul:#5bbdd3;
    --rosa:#e291a3;
    --verde:#78c19e;
}

body {
    font-family: 'Arial', sans-serif;
    color: #5f2808;
    
}

.toolbar .toolbar-inner a {
    text-align: center;
    color: #5f2808;
    font-size: 14px;
    font-weight: bold;
}

.toolbar .toolbar-inner a.active {
    color: #5f2808;
    font-weight: bold;
}

.page-content .block {
    margin: 20px;
    text-align: center;
}
