:root {
    --branco: #ffff;
    --bege: #F9F5E9;
    --marrom: #4D352D;
    --rosa: #E291A3;
    --laranja: #FAB958;
    --azul: #65B6DB;
    --verde: #78C19E;
    --font-size-base: 1rem; /* Tamanho base da fonte */
}

/* Garante que a página ocupe toda a viewport */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bege);
    color: var(--marrom);
    font-size: var(--font-size-base);
}

/* Container principal com a imagem e texto */
.social-container {
    display: flex;
    align-items: center; /* Alinha a imagem e os textos verticalmente no centro */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 2rem; /* Adiciona espaçamento ao redor */
    gap: 2rem; /* Espaço entre a imagem e os textos */
}

/* Estilo da imagem */
.social-image {
    width: 30%; 
    height: auto; /* Mantém a proporção */
}

/* Estilo do container de texto */
.social-text {
    text-align: left; /* Alinha o texto à esquerda dentro do container */
}

/* Título principal */
.social-title {
    font-size: 2rem; /* Tamanho maior para o título */
    font-weight: bold;
    margin: 0; /* Remove margens padrão */
}

/* Frase menor */
.social-subtitle {
    font-size: 1rem; /* Tamanho menor para a frase */
    margin-top: 0.5rem; /* Espaçamento entre o título e a frase */
}




